<!DOCTYPE html>
<html>
<head>
    <title>Chat System</title>
</head>
<body>

<h2>💬 Simple Chat System</h2>

<input id="msg" placeholder="Type message">
<button onclick="sendMsg()">Send</button>

<div id="chat"></div>

<script>
async function sendMsg() {
    let text = document.getElementById("msg").value;

    await fetch("/send", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({text})
    });

    document.getElementById("msg").value = "";
    loadMessages();
}

async function loadMessages() {
    let res = await fetch("/messages");
    let data = await res.json();

    let chat = document.getElementById("chat");
    chat.innerHTML = "";

    data.forEach(m => {
        chat.innerHTML += "<p>" + m.time + " → " + m.text + "</p>";
    });
}

setInterval(loadMessages, 2000);
loadMessages();
</script>

</body>
</html>
